/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

/* HEADER */
.header{
    width: 100%;
    display: block;
    height: 100px;
}

.VUSlogo{
    width: 50%;
    float: left;
    padding-left: 100px;
}

.slogan{
    width: 50%;
    float: left;
}

.slogan__icon{
    float: right;
    padding-right: 100px;
}

/* MENU */
.menu{
    float: none;
    width: 100%;
    list-style: none;
    text-align: center;
}

.menu ul a{
    text-decoration: none;
    font-size: 18px;
    color: grey;
}

.menu ul li{
    display: inline;
    margin: 0 20px;
}

/* CAROUSEL */
.carousel{
    background-image: url(./images/slider_1.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.intro{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro p{
    color: grey;
}

/* PRODUCT */
.products{
    text-align: center;
}

.products__item{
    float: left;
    width: 25%;
    padding: 0 20px;
}

.products__item img{
    width: 100%;
}

.products__item h3{
    color: red;
}

.products__item p{
    color: grey;
}

.news {
    padding-top: 50px;
    text-align: center;
}

.news__left{
    float: left;
    width: 50%;
    position: relative;
    height: 610px;
}

.news__left img{
    width: 100%;
    padding: 0 5px; 
}

.news__left-content{
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 20px;  
    width: 100%;
}

.news__mid{
    float: left;
    width: 25%;
    height: 610px;
    padding: 0 5px;
}

.news__mid-top{
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 10px;
}

.news__mid-top-img img{ 
    width: 100%;
    height: 100%;
}

.news__mid-top-content{
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.news__mid-bottom{
    width: 100%;
    height: 50%;
    position: relative;
}

.news__mid-bottom-img img{ 
    width: 100%;
    height: 100%;
}

.news__mid-bottom-content{
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.news__right{
    float: left;
    width: 25%;
    height: 610px;
    padding: 0 5px;
}

.news__right-top{
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 10px;
}

.news__right-top-img img{ 
    width: 100%;
    height: 100%;
}

.news__right-top-content{
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    height: 35px;
}

.news__right-bottom{
    width: 100%;
    height: 50%;
    position: relative;
}

.news__right-bottom-img img{ 
    width: 100%;
    height: 100%;
}

.news__right-bottom-content{
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
}